.App {
  text-align: center;
}

#header-container {
  padding-top: 100px;
  padding-bottom: 50px;
  max-width: 100%;
  background-color: darkgrey
}

#counters {
  color: white;
}

#card-container {
  margin-top: 120px;
}

.card {
  width: 200px;
}

img {
  height: 250px;
  width: 150px;
}

#logo {
  font-family: 'Barlow', sans-serif;
}

.subtitle, #counters {
  font-family: 'Roboto', sans-serif;
}